body {
  margin: 8px;
  background-color: #121212;
}

.Select-control {
  background-color: #222 !important;
}

.Select.is-focused > .Select-control {
  background-color: #222;
}

.Select.is-disabled > .Select-control {
  border-color: #222;
  color: white;
}

.Select-value-label {
  color: white !important;
}

.VirtualizedSelectOption {
  background-color: #222;
  color: white;
}

.VirtualizedSelectFocusedOption {
  background-color: #222;
  opacity: 0.7;
}

.Select.is-focused:not(.is-open) > .Select-control {
  background-color: #222;
  border-color: white;
  box-shadow: none;
}
