body {
  background-color: #121212;
  margin: 8px;
}

.dark .Select-control {
  background-color: #222 !important;
}

.dark .Select.is-focused > .Select-control {
  background-color: #222;
}

.dark .Select.is-disabled > .Select-control {
  border-color: #222;
  color: white;
}

.dark .Select-value-label {
  color: white !important;
}

.dark .VirtualizedSelectOption {
  background-color: #222;
  color: white;
}

.dark .VirtualizedSelectFocusedOption {
  background-color: #222;
  opacity: 0.7;
}

.dark .Select.is-focused:not(.is-open) > .Select-control {
  background-color: #222;
  border-color: white;
  box-shadow: none;
}
